<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.goockr.ui">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".view.activity.CompanyIntroduceActivity"></activity>

    </application>

</manifest>
